# python build
build
dist
easy_tpp.egg-info

# python temp
*.pyc

# proto
protoc
protoc-3.4.0.tar.gz
*_pb2.py
data/

# misc
experiments
log
*.swp
*.swo
.vscode
.claude
.github
.venv
uv.lock
results
.python-version
pyproject.toml
checkpoints

# idea files
.idea

examples/checkpoints/*

notebooks/checkpoints/*